*.pyc
dbt.log
.vscode
.venv
*.egg-info
build/
__pycache__/
.pytest_cache
.mypy_cache
.mypy_cache/.*json
.ruff_cache
integration_test.duckdb
tests/integration/dbt/target
.env
memory.db
memory.db.wal

*.prof
tests/tcp_ds_duckdb/memory
tests/tcp_ds_duckdb/sf_*